<div>
  <form
    #f="ngForm"
    (ngSubmit)="addData(f)"
    class="bg-gray-300 w-2/4 shadow-md rounded px-8 pt-6 pb-8 mb-4"
  >
    <label class="mb-2 text-lg font-medium text-gray-900" for="Inventory"
      >Inventory:
    </label>
    <input
      type="text"
      name="inventory"
      id="Inventory"
      class="px-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
      ngModel
    />
    <br />
    <label class="mb-2 text-lg font-medium text-gray-900" for="Quantity"
      >Quantity:
    </label>
    <input
      class="px-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
      type="number"
      name="quantity"
      id="Quantity"
      ngModel
    />
    <br />
    <label class="mb-2 text-lg font-medium text-gray-900" for="Email"
      >Email:
    </label>
    <input
      class="px-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
      type="email"
      name="email"
      id="Email"
      ngModel
    />
    <br />
    <label class="mb-2 text-lg font-medium text-gray-900" for="Provider"
      >Provider:
    </label>
    <input
      class="px-2 mb-3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
      type="email"
      name="provider"
      id="Provider"
      ngModel
    />
    <br />
    <button
      class="text-white mx-3 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      type="submit"
    >
      save data
    </button>
    <button
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      type="reset"
    >
      Reset
    </button>
  </form>
</div>

<div>
  <input
    type="text"
    class="px-2 mr-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
    placeholder="Search"
    (keyup)="applySearch($event)"
  />
  <!-- <mat-form-field>
    <mat-label>Cars</mat-label>
    <select matNativeControl required>
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
  </mat-form-field> -->

  <mat-form-field>
    <select
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      matNativeControl
      required
      (change)="onChange($event)"
    >
      <option value="All">All</option>
      <option value="Apple">Apple</option>
      <option value="Dell">Dell</option>
      <option value="JpMorg">JpMorg</option>
      <option value="Logi">Logi</option>
    </select>
  </mat-form-field>

  <table class="mat-elevation-z8" mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="inventory">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by number"
      >
        Inventory
      </th>
      <td mat-cell *matCellDef="let element">{{ element.inventory }}</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by number"
      >
        Quantity
      </th>
      <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by number"
      >
        Email
      </th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="provider">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by number"
      >
        Provider
      </th>
      <td mat-cell *matCellDef="let element">{{ element.provider }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <!-- <table class="text-sm text-left text-gray-500 dark:text-gray-400">
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th class="px-6 py-3" (click)="sortData()">Inventory</th>
        <th class="px-6 py-3">Quantity</th>
        <th class="px-6 py-3">Email</th>
        <th class="px-6 py-3">Provider</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let data of userData | async | search : searchText"
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
      >
        <th class="px-6 py-3">{{ data.inventory }}</th>
        <th class="px-6 py-3">{{ data.quantity }}</th>
        <th class="px-6 py-3">{{ data.email }}</th>
        <th class="px-6 py-3">{{ data.provider }}</th>
      </tr>
    </tbody>
  </table> -->
</div>
